#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.weather-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}

.weather-results {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

